body,
html {
  height: 100%;
  margin: 0;
}

.dot {
  display: inline;
  margin-left: 0.7em;
  margin-right: 0.7em;
  font-size: 2em;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}
.one {
  animation-delay: 0.2s;
}
.two {
  animation-delay: 0.4s;
}
.three {
  animation-delay: 0.6s;
}
.four {
  animation-delay: 0.8s;
}
.five {
  animation-delay: 1s;
}
.six {
  animation-delay: 1.2s;
}
.seven {
  animation-delay: 1.4s;
}
.eight {
  animation-delay: 1.6s;
}
.nine {
  animation-delay: 1.8s;
}
.ten {
  animation-delay: 2s;
}
.eleven {
  animation-delay: 2.2s;
}
.twelve {
  animation-delay: 2.4s;
}
.thirteen {
  animation-delay: 2.6s;
}
.fourteen {
  animation-delay: 2.8s;
}
.fiveteen {
  animation-delay: 3s;
}
@keyframes showHideDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .dot {
    display: none;
  }
}

.full-screen {
  /* The image used */
  background-image: url(./static/P1050390.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PULSE EFFECT */

.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* TRANSITION */

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 800ms linear;
}
