body,
html {
  margin: 0;
}

/* STYLE HOME PAGE */

/* background image */
.home {
  background-image: url(./static/sfondo.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: #69779b;
  font-family: "Dokdo", cursive;
  font-size: 4em;
  text-align: center;
  padding-top: 68vh;
  padding-right: 100vh;
}

/* END STYLE HOME */

/* STYLE ME PAGE */

/* background image */
.me {
  background-image: url(./static/P1050632.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* END STYLE ME PAGE */

/* STYLE PORTFOLIO PAGE */

/* background image */
.portfolio {
  background-image: url(./static/P1050390.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* made images in portfolio responsive */
.responsive {
  width: 100%;
  height: auto;
  max-width: 50em;
}

/* title portfolio */

.div-title-portfolio {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.title-portfolio {
  color: white;
  text-transform: uppercase;
  font-size: 6em;
  font-family: "Lato";
  font-weight: 100;
}

/* END STYLE PORTFOLIO PAGE */

/* STYLE BLOG PAGE */

/* background image */
.blog {
  background-image: url(./static/P1050390.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* title blog */

.div-title-blog {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.title-blog {
  color: white;
  text-transform: uppercase;
  font-size: 6em;
  font-family: "Lato";
  font-weight: 100;
}

/* END STYLE BLOG PAGE */
