body,
html {
  height: 100%;
  margin: 0;
}

/* STYLE HOME */

/* BACKGROUND IMAGE HOME */
.home {
  /* The image used */
  background-image: url(./static/P1060526-1.jpg);
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  padding-top: 25vh;
}

/* END STYLE HOME */

.me {
  /* The image used */
  background-image: url(./static/P1050632.jpg);
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio {
  /* The image used */
  background-image: url(./static/P1050390.jpg);
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blog {
  /* The image used */
  background-image: url(./static/P1050390.jpg);
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 1280px) {
  .dot {
    display: none;
  }
}

/* TITLE ANIMATION */

.responsive {
  width: 100%;
  height: auto;
  max-width: 50rem;
}

.responsive-container {
  padding: 0.5rem;
}
